/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #121212;
  color: #fff;
}

/* Hero Section */
.hero {
  height: 100vh;
  background-color: #ffa200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-logo {
  max-width: 300px; /* กำหนดขนาดสูงสุดของโลโก้ */
  width: 100%; /* ปรับให้เข้ากับหน้าจอ */
  height: auto; /* รักษาสัดส่วนของรูป */
  margin-bottom: 1rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero a {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.hero a:hover {
  background: #bebebe;
  color: #fff;
}

/* Section */
section {
  padding: 4rem 2rem;
  text-align: center;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #ffa200;
}

section p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.games-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.game-card {
  background: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.game-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.game-card .info {
  padding: 1rem;
}

.game-card h3 {
  margin-bottom: 0.5rem;
}

.game-card p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.game-card a {
  text-decoration: none;
  color: #ffa200;
  font-weight: bold;
}

/* Footer */
footer {
  background: #1f1f1f;
  padding: 2rem;
  text-align: center;
  color: #bbb;
  font-size: 0.9rem;
}

footer a {
  color: #f39c12;
  text-decoration: none;
}

/* Our Team Section */
#team {
  padding: 4rem 2rem;
  text-align: center;
}

#team h2 {
  font-size: 2.5rem;
  color: #f39c12;
  margin-bottom: 1rem;
}

#team p {
  font-size: 1.1rem;
  color: #bbb;
  margin-bottom: 2rem;
}

.team-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.team-member {
  background: #1f1f1f;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.team-member h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.team-member p {
  font-size: 1rem;
  color: #bbb;
}
